.header {
    position: relative;
    z-index: 1;
}

.header a {
    color: var(--header-menu-color);
    text-decoration: none;
    cursor: auto;
}

.header__background {
background-image: linear-gradient(#2e2f32cc, #18181ab7), url(../img/header-image-man-with-coffe.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 50.7% 0%;
}
.header__nav-logo {
    width: 188px;
}
.header__nav {
display: flex;
align-items: center;
letter-spacing: 0.3px;
justify-content: center;
padding: 30px 15px;
gap: 6px;
}

.header__nav-list {
display: block;
list-style: none;
}

.nav-list {
display: flex;
flex-direction: column;
align-items: center;
font-weight: 400;
font-size: 17px;
letter-spacing: 0;
gap: 20px;
}

.header__nav-list-item a {
position: relative;
display: inline-block;
}

.header__nav-list-item:not(.btn-nav) a::before {
content: "";
bottom: -4px;
left: 0;
position: absolute;
width: 100%;
height: 2px;
color: var(--hero-title-text-color);
opacity: 0.8;
transform: scaleX(0);
transition: all 0.2s ease-in-out;
}


.header__nav-list-item:not(.btn-nav) a:hover::before {
transform: scaleX(1);
background-color: var(--hero-title-text-color);
}


.header__nav-menu {
display: none;
padding: 0 32px;

}

.header__menu-btn {
display: block;
width: auto;
height: auto;
padding: 19px 8px;
margin-left: auto;
cursor: pointer;
transition: opacity 0.5s ease;
order: 3;
}

.header__menu-btn:hover {
opacity: 0.6;
}

.header__navicon {
display: block;
width: 24px;
height: 2px;
position: relative;
background: var(--hero-title-text-color);
cursor: pointer;
transition: background 0.2s ease-out;
}

.header__navicon::before,
.header__navicon::after {
content: '';
width: 100%;
height: 100%;
display: block;
position: absolute;
background: var(--hero-title-text-color);
transition: all .2s ease-out;
}

.header__navicon:before {
top: 7px;
}

.header__navicon:after {
top: -7px;
}

.header.responsive .header__nav-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
    z-index: 1;
}

.header.responsive .header__background,
.header.responsive .header__nav-menu {
background: var(--bg-dark-clolr);
}

.header.responsive .header__navicon {
background: transparent;
}

.header.responsive .header__navicon::before {
transform: rotate(-45deg);
}

.header.responsive .header__navicon::after {
transform: rotate(45deg);
}

.header.responsive .header__navicon::before,
.header.responsive .header__navicon::after {
top: 0;
}

@media (min-width: 990px) {
.header__background {
    background-position: 51% 50%;
}

.header__nav {
    padding: 30px 45px;
    gap: 8px;
}

.header__menu-btn {
    display: none;
}

.header__nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    gap: 8px;
    height: auto;
    margin: auto;
}

.nav-list {
    flex-direction: row;
    gap: 30px;
}

.header__nav-btn {
    margin-left: 20px;
}
}

@media (max-width: 1200px) {
.header__nav {
    gap: 15px;
}

.header__nav-menu {
    order: 0;
}

.btn-sub-nav {
    display: none;
}

.btn-nav {
    display: block;
}

.header__nav-btn {
    margin-left: 0;
}
}