:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Bebas Neue", sans-serif;
    --accent-font: "Satisfy", cursive;
    --text-accent-color: #c7a17a;
    --hero-title-text-color: #fff;
    --horisontal-line-color: #ae8e6d;
    --dark-heading-color: #27292b;
    --dark-epigraph-color: #696871;
    --carousel-dark-heading-text-color: rgb(39, 41, 43);
    --carousel-dark-deskription-text-color: #b1b0af;
    --carousel-dark-button-bg-color: #454647;
    --button-light-bg-color: #c7a17a;
    --button-light-text-color: #f9f4f0;
    --bg-light-color: #f2f0ec;
    --bg-white-color: #ffffff;
    --bg-dark-clolr: #27292b;
    --light-heading-color: #ffffff;
    --light-epigraph-color: #dae6c8;
    --carousel-light-heading-text-color: #f4f4f4;
    --carousel-light-deskription-text-color: #b8b8b9;
    --carousel-light-button-bg-color: #dedfdf;
    --carousel-dark-bg-color: #2f3133;
    --accordion-heading-text-color: #fffff1;
    --accordion-sign-color: #cececf;
    --accordion-deskription-text-color: #d5dace;
    --button-dark-text-color: #c7a17a;
    --article-heading-text-color: #27292b;
    --form-text-color: #a0a1a2;
  
    font-family: var(--primary-font);
  }

  .courses {
    background-color: var(--bg-light-color);
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .courses__header {
    padding: 80px 0 40px 0;
  }
  .courses__carrousel-container {
    display: flex;
    padding: 0 10px 0 10px;
  }
  .courses__carrousel-card-heading {
    font-family: var(--secondary-font);
    color: var(--carousel-dark-heading-text-color);
    font-size: 24px;
    padding: 15px 0 15px 0;
    text-align: left;
  }
  .courses__icon-list-wrapper {
    
    display: flex;
    text-align: left;
    font-family: var(--primary-font);
    color: var(--carousel-items-text-color);
    font-size: 17px;
  

  }
  .calendar__countdown-icon .calendar__countdown-icon .courses__icon-list-price-logo {
    width: 10px;
  }