@import "global.css";
@import "header-nav.partial.css";
@import "index.header-hero.partial.css";
@import "index.courses.partial.css";
@import "index.about.partial.css";
@import "index.video.partial.css";
@import "index.team.partial.css";
@import "index.recipes.partial.css";
@import "index.pricing.partial.css";
@import "index.features.partial.css";
@import "index.gallery.partial.css";
@import "index.testimonials.partial.css";
@import "index.faq.partial.css";
@import "index.blog.partial.css";
@import "index.write-us.partial.css";
@import "index.navigation.partial.css";
@import "footer-nav.partial.css";

.common__heading {
    font-family: var(--accent-font);
    color: var(--text-accent-color);
    font-weight: 400;
    font-size: 26px;
    padding: 0 0 10px 0;
}
.horisontal__heading-line {
    background-color: var(--horisontal-line-color);
    border-color: var(--horisontal-line-color);
    font-size: 17px;
    font-weight: 400;
    width: 11px;
    height: 3px;
}
.common__light-heading-epigraph {
    font-family: var(--primary-font);
    color: var(--light-epigraph-color);
    font-weight: 500;
    font-size: 19px;
    padding: 10px 0 10px 0;
}
.common__darc-heading-epigraph {
    font-family: var(--primary-font);
    color: var(--dark-epigraph-color);
    font-weight: 500;
    font-size: 19px;
    padding: 10px 0 10px 0;
}
.common__dark-heading {
    font-family: var(--secondary-font);
    color: var(--dark-heading-color);
    font-size: 38px;
    font-weight: 400;
    padding: 0 0 10px 0;
}
.common__light-heading {
    font-family: var(--secondary-font);
    color: var(--light-heading-color);
    font-size: 38px;
    font-weight: 400;
    padding: 0 0 10px 0;
}